.inicio{
    

    .profesorado{ 
        margin: 20px auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: $font-size-base;
        box-sizing: border-box;

            
        .profesor{ 
            margin: auto 0px;                     
            box-sizing: border-box;
            width: calc(100% - 10px);

            @include if-desktop {
                width: calc(25% - 10px);
            }
           

            .img:hover{
                opacity: 0.5;
            }
           
        
            
            
            .info p{ /*ocultamos el párrafo*/
                
                visibility: hidden;
                
                
            }
        
            .img:hover > .info p{ /*Cuando pasamos por encima de la clase visible se verá el párrafo*/
                    visibility: visible;
                    color: $colortitulos;
                    text-align: center;
                    background: $colorbarras; 
                    border-radius: 5px;
                    box-sizing: border-box;
                    font-size: $font-size-small;  
            
            }


                
            
                            
                    
        }
    }  
    .derecha{
        
        .somos{
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            border-radius: 5px;
            font-size: $font-size-base;
            background: $colorSomos;
            text-align: left;
            box-sizing: border-box;

            @include if-desktop {
                width: calc(50% - 10px);
            }
            @include if-tablet-portrait {
                width: calc(50% - 10px);
            }

            .h1{
                font-size: $font-size-h1;
                text-align: center;
                    
            }

        }
        .form-control-group{
            width: auto;
            box-sizing: border-box;
            background-image:url("img/form.jpg");  /* imagen de fondo*/
            background-position: center;
            background-size: cover;
            display: inline-block;
            padding: 5px;
            font-size: $font-size-medium;
        }
    }
    
    
    
    
}