<section class="detalle">
    

    <h1 class="nombre">CARLOS DÍAZ</h1>
    <section class="conjunto">
        <div class="image">
                    <img src="img/CD.jpg" alt="Carlos Diaz">
        </div>

        <div class="descripcion">
                <p class="titulo">Trabajo profesional:</p>
            <ul class="curriculum">
                
                <li><img src="img/internacional.png" alt="Coreógrafo internacional"></li>
                <li><img src="img/richfam.png" alt=" Coreógrafo y bailarín de la richfam"></li>
               
            </ul>
        
            <div class="horarios">
                <p class="negrita">HORARIOS</p>
                <ul>
                    <li>Lunes: 20:00h a 21:00h</li>
                    <li> Miércoles <span class="cursiva">(comercial)</span>: 19:00h a 20:00h</li>
                    <li> Viernes: 21:00h a 22:00h</li>
                </ul>
            </div>
            <a class="enlace" href="https://www.youtube.com/channel/UC_nL5LPylZljCZW9-dXFx3A">Canal de Youtube</a>
        </div>
    </section>

</section>