<section class="inicio">
    <section class="profesorado">
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/carlos.png" alt="Carlos Diaz">
                <div class="info">
                    <p>Carlos Diaz
                        <br> Lunes y miércoles</p>
                </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/karu.png" alt="Karu Rivera">
                <div class="info">
                    <p>Karu Rivera
                        <br> Lunes y miércoles</p>
                </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/alex.png" alt="Alex Sanchez">
                <div class="info">
                    <p>Alex Sanchez
                        <br> Miercoles
                    </p>
                </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/kachina.png" alt="Kachina">
                <div class="info">
                <p>Kachina <br>
                Martes</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/javi.png" alt="Javi Berga">
                <div class="info">
                <p>Javi Berga <br>
                Lunes y miércoles</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/Yaiza.png" alt="Yaiza Llatas">
                <div class="info">
                <p>Yaiza Llatas <br>
                Martes y jueves</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/vanmich.png" alt="Vanmich">
                <div class="info">
                <p>Vanmich <br>
                Lunes</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/rachel.png" alt="Rachel">
                <div class="info">
                <p>Rachel <br>
                Martes y jueves</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/mire.png" alt="Mireia Gonzalez">
                <div class="info">
                <p>Mireia González <br>
                Martes y jueves</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/evelio.png" alt="Evelio Notario">
                <div class="info">
                <p>Evelio Notario <br>
                Lunes y miércoles</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/lyf.png" alt="Laura y Francesca">
                <div class="info">
                <p>Laura y Francesca <br>
                Martes y jueves</p>
            </div>
            </div>



        </a>
        <a class="profesor" href="detail.html">
            <div class="img">
                <img src="img/sanm.png" alt="Javier Sanmartin">
                <div class="info">
                <p>Javier Sanmartín <br>
                Martes y jueves</p>
            </div>
            </div>



        </a>
    </section>
    <section class="derecha">

        <div class="somos">
            <h1 class="h1">¿Quiénes somos?</h1>
            <p> Home Dance Studio nació en el año 2015 a manos del director de la escuela Carlos Díaz.</p>
            <p> El proyecto surgió con el afán de crear una comunidad de bailarines profesionales,basada en el respeto el apoyo
                y la diversión. En cuanto al profesorado son bailarines nacionales que aportan gran versatilidad a la formación
                que ofrece la escuela.

            </p>

        </div>
        <form class="form-control-group" action="http://www.example.com/subscribe.php" method="get">
            <div>
                <p>Introduce tu nombre</p>
                <input type="text" name="username" />
            </div>
            <div>
                <p> A continuación escribe tu correo electrónico.</p>
                <input type="email" name="email" />
            </div>
            <div>
                <input type="submit" value="enviar datos" />
            </div>
        </form>
    </section>
</section>