<h1 id="principio">
        <img src="img/homeDance.png" width="160" height="160"></h1>
    <nav class="menu">
    
        <ul>
            <li>
                <a href="index.html"> Inicio</a>
            </li>
            <li> <a href="index.html">Profesorado</li> </a>
            <li>
                <a href="index.html">Tarifas</a>
            </li>
            <li>
                <a href="index.html">Horarios</a>
            </li>
            <li>
                <a href="index.html">Eventos</a>
            </li>
        </ul>
    </nav>